@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    background: white;
    font-size: 14px;
    color: #495464;
    font-family: 'DM Sans', 'Nanum Gothic', sans-serif;
}

h4{
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

ul, li{
    list-style: none;
}

button, select{
    font: inherit;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: inherit;
}

select::-ms-expand {
    display: none;
}

@media screen and (max-width: 480px){
    body{
        word-break: break-all;
    }
}

/*  color
    f4f4f2
    e8e8e8
    bbbfca
    주요 색상 : 495464 일반 글에도 사용
    강조 색상 : 222222
    강조 색상 : F67D51 (가장 중요한 부분)
*/